@merklefunlab:registry=https://pkgs.dev.azure.com/funlabsitecore/funlabdigital/_packaging/DesignSystem/npm/registry/

always-auth=true
//pkgs.dev.azure.com/funlabsitecore/funlabdigital/_packaging/DesignSystem/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/funlabsitecore/funlabdigital/_packaging/DesignSystem/npm/registry/:_password=${NPM_PACKAGE_TOKEN}
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/funlabsitecore/funlabdigital/_packaging/DesignSystem/npm/registry/:email=${NPM_PACKAGE_EMAIL}
//pkgs.dev.azure.com/funlabsitecore/funlabdigital/_packaging/DesignSystem/npm/registry/:always-auth=true
